@{
    ViewData["Title"] = "Thanks for your order";
}

<h2>
    Thank you for your business. you will be notify as soon as your order getting ready
</h2> 
<h3>
    Your order id : @ViewData["OrderId"]
</h3>